.directors{
  display: flex;
  flex-direction: column;
  align-items: center;
  &__top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(110, 74, 7, 0.74);
    padding-left: 10%; 
    & img {
      height: 25vw;
      width: 18vw;
      margin: 15px;
    }
    .top__info{
      margin: 0 0 10% 5%;
      width: 60%;
      & h1 {
        font-size: 2vw;
        font-weight: 800;
        font-family: 'Rubik Mono One', sans-serif;
        margin: 10px;
      }
      & p {
        font-family: 'Rubik Mono One', sans-serif;
        font-weight: 700;
        font-size: 1vw;
        width: 100%;
        margin: 70px 0px 0px 10px;
      }
    }
  }
  &__lifeinfo{
    margin: 10px 0;
    .timeline{
      margin: 15px;
    }
  }
  &__works{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & img {
      width: 330px;
      margin: 5px;
      transition: all .2s;
    }
    & img:hover {
      transform: scale(1.4);
    }
    .info{
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 20px;
      background-color: rgba(110, 74, 7, 0.74);
      &__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        font-size: 1.6vw;
      }
      & iframe{
        margin: 20px 40px 20px 0;
      }
    }
    .gallery{
      height: 580px;
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-template-rows: repeat(2, 250px);
      & img {
        margin: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .links{
      width: 100%;
      display: flex;
      justify-content: center;

      padding: 10px;
      background-color: rgba(110, 74, 7, 0.74);     
      & a {
        margin: 0 15vw;
        font-weight: 600;
        padding: 2px 0;
        color: black;
        font-size: 1vw;
      }
      & a:hover{
        text-decoration: none;
        color:#e49504;
      }
    }
  }
}


