.modalOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 222;
}

.modalWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
}

.modalHeader,
.modalBody,
.modalFooter {
  padding: 10px 20px;
}

.modalBody {
  & div {
    width: 680px;
    height: 500px;

    @media screen and (max-width: 700px) {
      width: 480px;
      height: 300px;
    }

    @media screen and (max-width: 580px) {
      width: 400px;
      height: 250px;
    }

    @media screen and (max-width: 400px) {
      width: 250px;
      height: 150px;
    }
  }
}

.modalHeader {
  min-height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.modalTitle {
  font-weight: bold;
}
