.search-box {
  margin: 0 auto;
  max-width: 500px;

  & .searchbar {
    margin: 40px 0 20px 0;
  }

  & .list {
    & button {
      margin-bottom: 20px;
      background: #b67435;
      border: none;


      &:active {
        background: #b67435 !important;
      }
    }
  }

  & .director {
    display: flex;
    padding: 10px;
    color: #2c3128;

    &:hover {
      text-decoration: none;
      background: #d6d7d2;
    }

    & h2 {
      display: flex;
      align-items: center;
      max-width: 400px;
      padding-left: 40px;

      @media only screen and (max-width: 600px) {
        font-size: 18px;
        padding-left: 10px;
      }
    }
  }
}
