.description {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(12, 1fr);
  height: 93vh;
  background: #d6d7d2;

  & h2 {
    grid-area: 3 / 4 / 10 / 10;
    font-family: 'Volkhov', sans-serif;
    font-size: 3rem;
    color: #3d0d15;
  }

  &__text{
    position: relative;
    grid-area: 4 / 3 / 10 / 7;

    & p{
      position: absolute;
      top: 0;
      left: 0;
      padding: 35px 200px 0px 35px;
      color: #e6e6e6;
    }

    & div {
      width: 100%;
      height: 100%;
      background-color: #9f907e;
    }
  }

  &__theater-img {
    grid-area: 5 / 6 / 10 / 10;
    z-index: 10;
    transform: scaleX(-1);
  }

  &__director-img {
    grid-area: 2 / 8 / 10 / 10;
    z-index: 20;
  }

  & .square {
    &__1 {
      grid-area: 1 / 9 / 10 / 12;
      margin-top: 60px;
      width: 225px;
      height: 325px;
      background: #2c3128;
    }
    
    &__2 {
      grid-area: 7 / 8 / 10 / 12;
      width: 320px;
      height: 110px;
      background: #3d0d15;
    }
  }
}