.d-of-day {
  background: #e6e6e6;

  & .container {
    padding: 70px 50px;
    @media screen and (max-width: 450px) {
      padding: 10px 20px;
    }
  }

  & .flex-end {
    display: flex;
    justify-content: flex-end;
  }

  & h6 {
    font-weight: bold;
    text-transform: uppercase;
    color: #042e27;
  }

  &__photo {
    width: 300px;
    height: 300px;
    margin-right: 50px;
    border-radius: 10px;
  }

  & .btn-primary {
    background: #b67435;
    border: none;

    &:hover {
      background: #3d0d15;
      border: none;
    }
  }
}